@model BTL_TTCSN_Nhom7.Models.Device

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style type="text/css">
    a {
        color: blueviolet;
        text-decoration: none;
    }

        a:hover {
            color: red;
        }
</style>

<h2>Xóa thiết bị</h2>

<h3>Bạn chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.category_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.project_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.project_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Img)
        </dt>

        <dd>
            <img src="~/wwwroot/images/@Model.device_Img" alt="Hình ảnh" width="100" class="img-thumbnail" />
            @Html.DisplayFor(model => model.device_Img)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Specifications)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Specifications)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Warranty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Warranty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.device_Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.device_Manufacturer)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-dark" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>

@if (ViewBag.err != null)
{
    <div class="alert alert-danger">
        @ViewBag.err
    </div>
}
